html, body, header, main, footer, div, nav, section{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: lightblue;
  /* background-color: #C4E8C8; */
  color: #3A5FCD;
}

header{
  width: 100%;
  height: 5vh;
  /* position: fixed; */
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 2px solid hotpink; */
}

main{
  width: 100%;
  height: 90vh;
  /* top: 10vh; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
table{
  width: 80%;
}

#FinalRound{
  width: 100%;
  height: 45vh;
  border: 2px solid green;
}

#GroupProno, #GroupRanks, #FinalProno{
  width: 50%;
  height: 45vh;
  border: 2px solid green;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.score{
  width: 30px;
}

.rank{
  /* border: 2px solid hotpink; */
}

footer{
  position:fixed;
  width: 100%;
  top: 95vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}
